html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto; 
}

.footer {
  flex-shrink: 0;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

footer {
  background: #EE7B67;
  color: white;
  height: 35px;
}

p {
  padding: 0;
  margin: 0 0 0 10px;
}
